body {
	padding-top: 50px;
	color: black;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
body html {
	margin: 0px;
	padding: 0px;
}
.theory {
	background-image: : url('tricyclemain.jpg');
	padding: 100px; 
	margin: 100px;
	background-size: cover;
	background-position: center;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: #42b233;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.size1{
	font-size: 20px;
	color: #42b233;
}
.size2{
	font-size: 20px;
}